.Message {
    border: solid 1px #aaa;
    margin: 10px;
    padding: 10px;
}

.CommandButton {
    margin: 5px;
    display:inline-block;
}

.ButtonPanel {
    border: solid 1px #ccc;
    margin: 15px 3px;
    padding: 5px;
    display: inline-block;
    background-color: #eee;
}

.SectionHead {
    margin-top: 20px;
    display: inline-block;
}

.GridHead {
    border-bottom: solid 1px #ccc;
}

.GridHead th {
    padding: 2px 10px;
}
.GridRow td {
    padding: 2px 10px;
}